In [5]:
import pandas as pd
import numpy as npv

In [6]:
uber1 = pd.read_csv('uber1.csv', index_col=0)
uber2 = pd.read_csv('uber2.csv', index_col=0)
uber3 = pd.read_csv('uber3.csv', index_col=0)

<h1>Combining rows of data</h1>
<div class=""><p>The dataset you'll be working with here relates to <a href="http://data.beta.nyc/dataset/uber-trip-data-foiled-apr-sep-2014" target="_blank" rel="noopener noreferrer">NYC Uber data</a>.
The original dataset has all the originating Uber pickup locations by time and latitude and longitude.
For didactic purposes, you'll be working with a very small portion of the actual data.</p>
<p>Three DataFrames have been pre-loaded: <code>uber1</code>, which contains data for April 2014, <code>uber2</code>, which contains data for May 2014, and <code>uber3</code>, which contains data for June 2014. Your job in this exercise
is to concatenate these DataFrames together such that the resulting DataFrame has the data for all three months.</p>
<p>Begin by exploring the structure of these three DataFrames in the IPython Shell using methods such as <code>.head()</code>.</p></div>

In [7]:
# Concatenate uber1, uber2, and uber3: row_concat
row_concat = pd.concat([uber1, uber2, uber3],)

# Print the shape of row_concat
print(row_concat.shape)

# Print the head of row_concat
print(row_concat.head())

(297, 4)
          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

<h1>Combining columns of data</h1>
<div class=""><p>Think of column-wise concatenation of data as stitching data together from the sides instead of the top and bottom.
To perform this action, you use the same <code>pd.concat()</code> function, but this time with the keyword argument <code>axis=1</code>. The default, <code>axis=0</code>, is for a row-wise concatenation.</p>
<p>You'll return to the <a href="https://data.humdata.org/dataset/ebola-cases-2014" target="_blank" rel="noopener noreferrer">Ebola dataset</a> you worked with briefly in the last chapter. It has been pre-loaded into
a DataFrame called <code>ebola_melt</code>. In this DataFrame, the status and country of a patient is contained in a single column. 
This column has been parsed into a new DataFrame, <code>status_country</code>, where there are separate columns for status and country. </p>
<p>Explore the <code>ebola_melt</code> and <code>status_country</code> DataFrames in the IPython Shell. Your job is to concatenate them column-wise in order to obtain a final, clean DataFrame.</p></div>

In [13]:
ebola_melt = pd.read_csv('ebola_melt.csv', index_col=0)
status_country = pd.read_csv('status_country.csv', index_col=0)

# Concatenate ebola_melt and status_country column-wise: ebola_tidy
ebola_tidy = pd.concat([ebola_melt, status_country], axis=1)

# Print the shape of ebola_tidy
print(ebola_tidy.shape)

# Print the head of ebola_tidy
print(ebola_tidy.head())

(1952, 6)
         Date  Day status_country  counts status country
0    1/5/2015  289   Cases_Guinea  2776.0  Cases  Guinea
1    1/4/2015  288   Cases_Guinea  2775.0  Cases  Guinea
2    1/3/2015  287   Cases_Guinea  2769.0  Cases  Guinea
3    1/2/2015  286   Cases_Guinea     NaN  Cases  Guinea
4  12/31/2014  284   Cases_Guinea  2730.0  Cases  Guinea

<h1>Finding files that match a pattern</h1>
<div class=""><p>You're now going to practice using the <code>glob</code> module to find all csv files in the workspace. In the next exercise, you'll programmatically load them into DataFrames.</p>
<p>As Dan showed you in the video, the <code>glob</code> module has a function called <code>glob</code> that takes a pattern and returns a list of the files in the working directory that match that pattern.</p>
<p>For example, if you know the pattern is <code>part_</code> <code>single digit number</code> <code>.csv</code>, you can write the pattern as <code>'part_?.csv'</code> (which would match <code>part_1.csv</code>, <code>part_2.csv</code>, <code>part_3.csv</code>, etc.)</p>
<p>Similarly, you can find all <code>.csv</code> files with <code>'*.csv'</code>, or all parts with <code>'part_*'</code>. The <code>?</code> wildcard represents any 1 character, and the <code>*</code> wildcard represents any number of characters.</p></div>

In [15]:
# Import necessary modules
import glob

# Write the pattern: pattern
pattern = 'uber?.csv'

# Save all file matches: csv_files
csv_files = glob.glob(pattern)

# Print the file names
print(csv_files)

# Load the second file into a DataFrame: csv2
csv2 = pd.read_csv(csv_files[1], index_col=0)

# Print the head of csv2
print(csv2.head())

['uber1.csv', 'uber2.csv', 'uber3.csv']
          Date/Time      Lat      Lon    Base
0  5/1/2014 0:02:00  40.7521 -73.9914  B02512
1  5/1/2014 0:06:00  40.6965 -73.9715  B02512
2  5/1/2014 0:15:00  40.7464 -73.9838  B02512
3  5/1/2014 0:17:00  40.7463 -74.0011  B02512
4  5/1/2014 0:17:00  40.7594 -73.9734  B02512

<h1>Iterating and concatenating all matches</h1>
<div class=""><p>Now that you have a list of filenames to load,
you can load all the files into a list of DataFrames that can then be concatenated.</p>
<p>You'll start with an empty list called <code>frames</code>. Your job is to use a <code>for</code> loop
to:</p>
<ol>
<li>iterate through each of the filenames</li>
<li>read each filename into a DataFrame, and then</li>
<li>append it to the <code>frames</code> list.</li>
</ol>
<p>You can then concatenate this list of DataFrames using <code>pd.concat()</code>. Go for it!</p></div>

In [17]:
# Create an empty list: frames
frames = []

#  Iterate over csv_files
for csv in csv_files:

    #  Read csv into a DataFrame: df
    df = pd.read_csv(csv, index_col=0)
    
    # Append df to frames
    frames.append(df)

# Concatenate frames into a single DataFrame: uber
uber = pd.concat(frames)

# Print the shape of uber
print(uber.shape)

# Print the head of uber
print(uber.head())

(297, 4)
          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

<h1>1-to-1 data merge</h1>
<div class=""><p>Merging data allows you to combine disparate datasets into a single dataset to do more complex analysis.</p>
<p>Here, you'll be using survey data that contains readings that William Dyer, Frank Pabodie, and Valentina Roerich took in the late 1920s and 1930s while they were on an expedition towards Antarctica.
The dataset was taken from a sqlite database from the <a href="http://swcarpentry.github.io/sql-novice-survey/" target="_blank" rel="noopener noreferrer">Software Carpentry SQL lesson</a>. </p>
<p>Two DataFrames have been pre-loaded: <code>site</code> and <code>visited</code>. Explore them in the IPython Shell and take note of their structure and column names. Your task is to perform a 1-to-1 merge of these two DataFrames using
the <code>'name'</code> column of <code>site</code> and the <code>'site'</code> column of <code>visited</code>.</p></div>

In [20]:
site = pd.read_csv('site.csv', index_col=0)
visited = pd.read_csv('visited.csv', index_col=0)
# Merge the DataFrames: o2o
o2o = pd.merge(left=site, right=visited, on=None, left_on='name', right_on='site')

# Print o2o
print(o2o)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
2  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

<h1>Many-to-1 data merge</h1>
<div class=""><p>In a many-to-one (or one-to-many) merge, one of the values will be duplicated and recycled in the output.
That is, one of the keys in the merge is not unique. </p>
<p>Here, the two DataFrames <code>site</code> and <code>visited</code> have been pre-loaded once again.
Note that this time, <code>visited</code> has multiple entries for the <code>site</code> column. Confirm this by exploring it in the IPython Shell.</p>
<p>The <code>.merge()</code> method call is the same as the 1-to-1 merge from the previous exercise, but the data and output will be different.</p></div>

In [23]:
site = pd.read_csv('site.csv', index_col=0)
visited = pd.read_csv('visited2.csv', index_col=0)
# Merge the DataFrames: m2o
m2o = pd.merge(left=site, right=visited, left_on='name', right_on='site')

# Print m2o
print(m2o)

    name    lat    long  ident   site       dated
0   DR-1 -49.85 -128.57    619   DR-1  1927-02-08
1   DR-1 -49.85 -128.57    622   DR-1  1927-02-10
2   DR-1 -49.85 -128.57    844   DR-1  1932-03-22
3   DR-3 -47.15 -126.72    734   DR-3  1939-01-07
4   DR-3 -47.15 -126.72    735   DR-3  1930-01-12
5   DR-3 -47.15 -126.72    751   DR-3  1930-02-26
6   DR-3 -47.15 -126.72    752   DR-3         NaN
7  MSK-4 -48.87 -123.40    837  MSK-4  1932-01-14

<h1>Many-to-many data merge</h1>
<div class=""><p>The final merging scenario occurs when both DataFrames do not have unique keys for a merge.
What happens here is that for each duplicated key, every pairwise combination will be created.</p>
<p>Two example DataFrames that share common key values have been pre-loaded: <code>df1</code> and <code>df2</code>. Another DataFrame <code>df3</code>,
which is the result of <code>df1</code> merged with <code>df2</code>, has been pre-loaded. All three DataFrames have been 
printed - look at the output and notice how pairwise combinations have been created. This example is to help you
develop your intuition for many-to-many merges.</p>
<p>Here, you'll work with the <code>site</code> and <code>visited</code> DataFrames from before, and a new <code>survey</code> DataFrame. Your task
is to merge <code>site</code> and <code>visited</code> as you did in the earlier exercises. You will then merge this merged DataFrame with <code>survey</code>.</p>
<p>The <code>survey</code>, <code>visited</code>, and <code>site</code> DataFrames are available.</p></div>

In [27]:
survey = pd.read_csv('survey.csv', index_col=0)
site = pd.read_csv('site.csv', index_col=0)
visited = pd.read_csv('visited2.csv', index_col=0)
# Merge survey, visited and site to a single data frame
# of surveys with visit and site details
m2o = pd.merge(left=survey, right=visited, left_on='taken', right_on='ident')

m2m = pd.merge(left=m2o, right=site, left_on='site', right_on='name')

print(m2m)

    taken person quant  reading  ident   site       dated   name    lat  \
0     619   dyer   rad     9.82    619   DR-1  1927-02-08   DR-1 -49.85
1     619   dyer   sal     0.13    619   DR-1  1927-02-08   DR-1 -49.85
2     622   dyer   rad     7.80    622   DR-1  1927-02-10   DR-1 -49.85
3     622   dyer   sal     0.09    622   DR-1  1927-02-10   DR-1 -49.85
4     844    roe   rad    11.25    844   DR-1  1932-03-22   DR-1 -49.85
5     734     pb   rad     8.41    734   DR-3  1939-01-07   DR-3 -47.15
6     734   lake   sal     0.05    734   DR-3  1939-01-07   DR-3 -47.15
7     734     pb  temp   -21.50    734   DR-3  1939-01-07   DR-3 -47.15
8     735     pb   rad     7.22    735   DR-3  1930-01-12   DR-3 -47.15
9     735    NaN   sal     0.06    735   DR-3  1930-01-12   DR-3 -47.15
10    735    NaN  temp   -26.00    735   DR-3  1930-01-12   DR-3 -47.15
11    751     pb   rad     4.35    751   DR-3  1930-02-26   DR-3 -47.15
12    751     pb  temp   -18.50    751   DR-3  1930-02-26   DR-3 -47.15
13    751   lake   sal     0.10    751   DR-3  1930-02-26   DR-3 -47.15
14    752   lake   rad     2.19    752   DR-3         NaN   DR-3 -47.15
15    752   lake   sal     0.09    752   DR-3         NaN   DR-3 -47.15
16    752   lake  temp   -16.00    752   DR-3         NaN   DR-3 -47.15
17    752    roe   sal    41.60    752   DR-3         NaN   DR-3 -47.15
18    837   lake   rad     1.46    837  MSK-4  1932-01-14  MSK-4 -48.87
19    837   lake   sal     0.21    837  MSK-4  1932-01-14  MSK-4 -48.87
20    837    roe   sal    22.50    837  MSK-4  1932-01-14  MSK-4 -48.87

      long
0  -128.57
1  -128.57
2  -128.57
3  -128.57
4  -128.57
5  -126.72
6  -126.72
7  -126.72
8  -126.72
9  -126.72
10 -126.72
11 -126.72
12 -126.72
13 -126.72
14 -126.72
15 -126.72
16 -126.72
17 -126.72
18 -123.40
19 -123.40
20 -123.40